/* TOP NAVBAR */

#navbar {
  position: absolute;
  top: 0hv;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #333333;
  z-index: 1;
  /* display: flex;
  /* align-content: center; */
}

#box-for-logos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 0hv;
  right: 0;
  /* width: 40vw; */
  height: 50px;
  z-index: 3;
}
#box-for-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0hv;
  left: 25vw;
  /* width: 80vw; */
  height: 50px;
}

#logo-dvrpc,
#logo-client {
  height: 25px;
  width: auto;
  cursor: pointer;
}

#logo-dvrpc {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #a19fa0;
}
#logo-client {
  margin-right: 10px;
}

#filter-button,
#about-button {
  color: #a19fa0;
  cursor: pointer;
}

/* #filter-button {
  margin-right: 25vw;
} */
#about-button {
  margin-left: 0vw;
  margin-right: 3vw;
}
#filter-icon,
#about-icon {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

#project-extent-img {
  width: 95%;
  height: 95%;
  /* margin: 5px; */
}

#filter-button:hover,
#about-button:hover {
  color: var(--theme-blue);
}

/* LOGOS at top-left */

#logo-card {
  background-color: white;
  color: white;
  position: absolute;
  top: 0vh;
  left: 2vw;
  width: 21vw;
  /* height: 200px; */
  z-index: 2;
  text-align: center;
  box-shadow: var(--box-shadow);
}

/* MAIN BUTTONS to right of logo-card */
#header-block {
  position: absolute;
  top: 8vh;
  left: 25vw;
  display: flex;
  /* width: 30vw;
    min-width: 300px;
    max-width: 700px; */
  z-index: 1;
  align-items: center;
  /* height: 300px; */
}

/* HELP TEXT below logo-card */

#ui-message {
  position: absolute;
  top: 22vh;
  left: 2vw;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
}
#click-map-text {
  padding: 0 10px;

  border-radius: 5px;
  background-color: var(--theme-dark-gray);
  display: none;
  margin-bottom: 20px;
}
#active-filter-text {
  padding: 0 10px;

  border-radius: 5px;
  background-color: var(--theme-dark-gray);
  display: none;
}

/* SURVEY FORM at bottom-right */
#survey-form {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: min(30vw, 400px);
  height: auto;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* DETAIL FORM at bottom-right */
#detail-form {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 40vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

/* DETAIL FORM at bottom-right */
#info-box {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 60vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: inline;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  font-size: 14px;
  line-height: 28px;
}

/* FILTER FORM at bottom-right */
#filter-box {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 60vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  font-size: 14px;
  line-height: 28px;
}

#demographic-survey {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 90vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}
#demo-layout {
  display: flex;
  margin: 0px 25px;
  justify-content: space-around;
}

#demo-layout div {
  padding: 0px 5px;
}
.close-box-button {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.close-box-button:hover {
  color: var(--theme-yellow);
}
.demographic-question {
  padding: 20px;
}
