#project-extent-img {
  width: 95%;
  height: 95%;
}

/* HELP TEXT below logo-card */

#ui-message {
  position: absolute;
  top: 150px;
  left: 2vw;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
}
#click-map-text {
  padding: 0 10px;

  border-radius: 5px;
  background-color: var(--theme-dark-gray);
  display: none;
  margin-bottom: 20px;
}
#active-filter-text {
  padding: 0 10px;

  border-radius: 5px;
  background-color: var(--theme-dark-gray);
  display: none;
}

/* SURVEY FORM at bottom-right */
#survey-form {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: min(30vw, 400px);
  height: auto;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* DETAIL FORM at bottom-right */
#detail-form {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 40vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

/* DETAIL FORM at bottom-right */
#info-box {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 60vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: inline;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  font-size: 14px;
  line-height: 28px;
}

/* FILTER FORM at bottom-right */
#filter-box {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 60vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  font-size: 14px;
  line-height: 28px;
}

#demographic-survey {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 90vw;
  max-height: 80vh;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}
#demo-layout {
  display: flex;
  margin: 0px 25px;
  justify-content: space-around;
}

#demographic-survey,
#info-box,
#survey-form,
#ui-message,
#filter-box,
#detail-form {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}

.close-box-button {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.close-box-button:hover {
  color: var(--theme-yellow);
}
.first-question {
  border-left: 1px solid white;
}
.demographic-question {
  padding: 20px;
  /* max-width: 20%; */
  flex-basis: 200px;
  flex-grow: 0;
  border-right: 1px solid white;
}
