@media only screen and (max-width: 760px) {
  /* #button-to-add-pin,
  #button-to-add-comment {
    width: 135px;
    min-width: 100px;

    font-size: 12px;
  }
  #button-to-add-comment {
    margin-left: 4vw;
  } */
  #logo-card {
    right: 1%;
    bottom: 92vh;
    min-width: 150px;
  }
  .single-button {
    height: 55px;
    padding: 8px;
  }

  .nav-button-text {
    display: none;
  }

  #box-for-buttons {
    left: clamp(175px, 30vw, 40vw);
  }

  #filter-icon,
  #about-icon {
    height: 15px;
  }

  #logo-main {
    /* padding: 10px 10px 10px 10px; */
    margin-top: 20%;
  }

  #logo-dvrpc,
  #logo-city {
    height: 15px;
  }
  #survey-form,
  #detail-form,
  #info-box,
  #filter-box,
  #demographic-survey {
    width: 92vw;
    max-height: 39vh;
    padding: 10px;
    bottom: 5px;
    right: 5px;
    overflow: auto;
    font-size: 11px;
    line-height: 18px;
  }

  #demographic-survey {
    max-height: 70vh;
  }

  #detail-form {
    /* height: 80vh !important; */
    max-height: 70vh;
    height: auto;
    overflow: auto;
  }

  .mapboxgl-ctrl-attrib {
    display: none !important;
  }
  .mapboxgl-ctrl-bottom-left {
    right: 2vw;
    left: auto;
    top: 95px;
  }

  textarea {
    height: 3vh;
  }
  .tag-button {
    margin: 2px;
    padding: 2px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
  }

  .alert {
    top: 150px;
    left: 2vw;
    font-size: 11px;
    padding: 5px;
    width: 80%;
  }
  /* #success-alert,
  #success-alert-for-comment,
  #warning-alert,
  #study-area-alert {
    width: 95vw;
  } */

  #click-map-text {
    top: 57vh;
  }

  .tag-for-existing-pin {
    margin: 4px;
    padding: 4px;
    font-size: 11px;
  }
  #demo-layout {
    flex-direction: column;
  }

  .demographic-question {
    border-right: none;
    border-bottom: 1px solid white;
    flex-basis: 100px;
  }
  .first-question {
    border-left: none;
    border-top: 1px solid white;
  }
  #logo-dvrpc,
  #logo-client {
    height: 15px;
  }

  #ui-message {
    top: 90px;
  }
}
