:root {
  --theme-yellow: #ffe100;
  --theme-blue: #00aeef;
  --theme-dark-gray: rgba(109, 110, 113, 0.9);
  --theme-light-gray: rgba(172, 172, 172, 0.9);
  --box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
  --philly-green: #5ebb4f;
  --philly-light-blue: #9cc6ea;
  --philly-dark-blue: #3874ba;
}

.blue {
  color: var(--theme-blue);
}

.yellow {
  color: var(--theme-yellow);
}

.blue,
.yellow {
  font-size: 120%;
}

a {
  color: var(--theme-blue);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
