html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

:root {
  --theme-yellow: #ffe100;
  --theme-blue: #00aeef;
  --theme-dark-gray: rgba(109, 110, 113, 0.9);
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#header-block {
  position: absolute;
  top: 2vh;
  left: 2vw;
  display: flex;
  /* width: 30vw;
  min-width: 300px;
  max-width: 700px; */
  z-index: 1;
  align-items: center;
}
#click-map-text {
  position: absolute;
  top: 12vh;
  left: 2vw;
  display: flex;
  z-index: 1;
  background-color: var(--theme-dark-gray);
  color: white;
  padding: 0 10px;
  display: none;
}
#button-to-add-pin,
#button-to-add-comment {
  /* margin: 3%; */
  padding: 2%;
  display: inline-block;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  /* height: 10vh; */
  width: 200px;
  outline: 3px solid white;
}

#button-to-add-pin {
  background-color: var(--theme-yellow);
  text-align: left;
}

#button-to-add-comment {
  background-color: var(--theme-blue);
  color: white;
  text-align: right;
  justify-content: end;
  /* align-content: end;  */
  /* margin-left: auto; */
}
#or-icon {
  max-height: 50px;
  margin: 0% -3% 0% -3%;
  padding: 2% 0%;
  z-index: 2;
}

#pin-icon {
  max-height: 50px;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
}
#comment-icon {
  max-height: 50px;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
}
#logo-card {
  background-color: black;
  color: white;
  position: absolute;
  top: 0%;
  right: 5%;
  width: 150px;
  /* height: 200px; */
  z-index: 1;
  text-align: center;
}
#logo-main {
  width: 95%;
  height: 95%;
  object-fit: cover;
}
#logo-dvrpc {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

#survey-form {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  background-color: var(--theme-dark-gray);
  padding: 30px;
  display: none;
  color: white;
}
textarea {
  width: 100%;
  resize: none;
  font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
  /* border: 3px solid var(--theme-yellow); */
}
/* button {
  background-color: var(--theme-blue);
  outline: 1px solid white;
} */
