<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cecil B. Moore Vision Zero Map</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="author" content="DVRPC" />

    <meta
      property="og:title"
      content="Cecil B. Moore Vision Zero Engagement Map"
    />

    {% load static %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pins-on-the-map.dev.dvrpc.org" />
    <meta
      property="og:description"
      content="A public engagement map and survey for the Cecil B. Moore Vision Zero project"
    />
    <meta property="og:image" content="{% static 'images/screenshot.png' %}" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="https://use.typekit.net/alv5tfj.css" />

    <!-- LOAD CSS FROM THIS REPO -->

    <!-- prettier-ignore -->
    {% block cssfile %}{% endblock %}
  </head>

  <body>
    {% block navbar %}{% endblock %}

    <div>{% block content %}{% endblock %}</div>

    <!-- prettier-ignore -->
    {% block jsscript %}{% endblock %}
  </body>
</html>
