{% extends "base.html" %}

<!-- prettier-ignore -->
{% load static %}

<!-- prettier-ignore -->
{% block navbar %}
<div id="navbar-gray"></div>
<div id="navbar">
  <div id="nav-logo">
    <img id="logo-main" src="{% static 'images/PROJECT-logo.png' %}" alt="" />
  </div>

  <div id="nav-buttons">
    <div id="nav-level1">
      <div id="level1-left">{% block internalbuttons %}{% endblock %}</div>
      <div id="level1-right">
        <a href="">
          <img
            id="logo-dvrpc"
            src="{% static 'images/DVRPC-logo.png' %}"
            alt=""
          />
        </a>
        <a href="">
          <img
            id="logo-client"
            src="{% static 'images/CLIENT-logo.png' %}"
            alt=""
          />
        </a>
      </div>
    </div>
    <div id="nav-level2">{% block primarybuttons %}{% endblock %}</div>
  </div>
</div>

{% endblock %}
