<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pins on the Map</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />

    <!-- TO DO: clean up these values. -->
    <meta name="author" content="DVRPC" />

    <meta property="og:title" content="Pins on the Map" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pins-on-the-map.dev.dvrpc.org" />
    <meta
      property="og:description"
      content="A public engagement tool for planning projects"
    />
    <meta property="og:image" content="image.png" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="https://use.typekit.net/alv5tfj.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- LOAD CSS FROM THIS REPO -->
    {% load static %}

    <!-- prettier-ignore -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>

  <body>
    <!-- your content here... -->
    <div id="map">
      <div id="navbar">
        <div id="box-for-logos">
          <img
            id="logo-city"
            src="{% static 'images/city-logo.png' %}"
            alt=""
          />
          <img
            id="logo-dvrpc"
            src="{% static 'images/DVRPC-logo.png' %}"
            alt=""
          />
        </div>

        <div id="box-for-buttons">
          <div id="about-button">
            <img id="about-icon" src="{% static 'images/info.png' %}" alt="" />
            <span class="nav-button-text"> How to Use the Map </span>
          </div>
          <div id="filter-button">
            <img
              id="filter-icon"
              src="{% static 'images/filter.png' %}"
              alt=""
            />
            <span class="nav-button-text"> Filter Feedback </span>
          </div>
        </div>
      </div>
      <div id="success-alert" class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <p>Thank you for sharing your comment!</p>
        <p>
          Please feel free to add another one and/or explore comments left by
          others.
        </p>
      </div>

      <div id="warning-alert" class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <p>
          No pin was found on the map. Please click on the map to add a pin, or
          click the "Add a General Comment" button to add your comment without a
          location on the map.
        </p>
      </div>

      <div id="study-area-alert" class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <p>
          Please click within the project's study area to add a pin to the map
        </p>
      </div>

      <div id="header-block">
        <div id="button-to-add-pin">
          <div>
            <img id="pin-icon" src="{% static 'images/pin.png' %}" alt="" />
          </div>
          <div>
            Pin a comment
            <br />
            to the map
          </div>
        </div>
        <img id="or-icon" src="{% static 'img/img_or.png' %}" alt="" />
        <div id="button-to-add-comment">
          <div>
            <img
              id="comment-icon"
              src="{% static 'images/comment.png' %}"
              alt=""
            />
          </div>
          <div>
            Add a general
            <br />
            comment
          </div>
        </div>
      </div>

      <div id="click-map-text">
        <h3>click the map to select a location</h3>
      </div>

      <div id="logo-card">
        <img id="logo-main" src="{% static 'images/CBM-logo.png' %}" alt="" />
      </div>

      <div id="survey-form">
        <span id="close-form" class="close-box-button">&times;</span>

        <h1>What are your concerns?</h1>

        <div id="user-input">
          <textarea name="" id="prompt_1" cols="3" rows="5"></textarea>

          <p>Select any categories that apply:</p>
        </div>

        <button id="submit-pin">submit your comment</button>
      </div>

      <div id="detail-form">
        <span id="close-details" class="close-box-button">&times;</span>
        <h2>Comment</h2>
        <p id="detail-prompt"></p>

        <div id="detail-tags"></div>

        <h2 id="reaction-header">Reactions</h2>
        <div id="comments-for-pin"></div>

        <h2>Do you have a reaction to share?</h2>
        <textarea name="" id="comment-text" cols="10" rows="2"></textarea>

        <button id="submit-reaction">submit your reaction</button>

        <p id="selected-pin-id" style="display: none">X</p>
      </div>

      <div id="info-box">
        <span id="close-info" class="close-box-button">&times;</span>
        <h1>
          Welcome to the Cecil B. Moore Vision Zero project's public engagement
          map!
        </h1>

        <p>
          The

          <a href="https://www.dvrpc.org/" target="_blank">
            Delaware Valley Regional Planning Commission (DVRPC)
          </a>

          and the

          <a href="http://www.phillyotis.com/" target="_blank">
            City of Philadelphia's Office of Transportation, Infrastructure, and
            Sustainability (oTIS)</a
          >

          are studying Cecil B. Moore Avenue between 10th Street and Willington
          Street, with the goal of improving safety for all road users.
        </p>

        <p>
          This map was created to help share your thoughts about the study area
          with the DVRPC / oTIS project team.
        </p>
        <p>
          If your comment is about a specific place, click the
          <span class="yellow"> yellow button </span>

          to add a pin to the map.
        </p>
        <p>
          Otherwise, feel free to leave a general comment by clicking the
          <span class="blue"> blue button </span>.
        </p>
      </div>

      <div id="filter-box">
        <span id="close-filter" class="close-box-button">&times;</span>
        <h1>Filter the map points</h1>
        <p>To Do!</p>
      </div>
      <!-- <div id="bottom-buttons">
        <img
          id="info-toggle"
          class="single-button"
          src="{% static 'img/img_how-to-use-map.png' %}"
          alt=""
        />
        <img
          id="filter-toggle"
          class="single-button"
          src="{% static 'img/img_filter-feedback.png' %}"
          alt=""
        />
      </div> -->
    </div>

    <!-- prettier-ignore -->
    <script defer type="module" src="{% static 'index-bundle.js' %}"></script>
  </body>
</html>
