{% extends "survey-navbar.html" %}

<!-- prettier-ignore -->
{% load static %}

<!-- prettier-ignore -->
{% block content %}
<div id="longform-survey">
  <form id="form-for-survey">
    <div id="questions-about-travel">
      <h1>How do you use Cecil B. Moore Avenue?</h1>
    </div>

    <div id="questions-about-priorities">
      <h1>What is your vision for Cecil B. Moore Avenue?</h1>
    </div>

    <div id="submit-survey">
      <button id="submit-button">Submit</button>
    </div>
  </form>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block jsscript %}
<!-- prettier-ignore -->
<script defer type="module" src="{% static 'survey-index-bundle.js' %}"></script>
{% endblock %}
