{% extends "survey-navbar.html" %} {% load static %}

<!-- prettier-ignore -->
{% block content %}
<div id="longform-survey">
  <h1>Thank you for filling out our survey!</h1>

  <div id="action-text">
    <p>
      If you have any comments about specific places along Cecil B. Moore
      Avenue, please click the yellow button below to add a pin to the map.
    </p>
    <p>
      To learn more, please visit
      <a
        href="https://www.dvrpc.org/cecilbmoore"
        target="_blank"
        style="color: black"
        >the project's website</a
      >.
    </p>
  </div>

  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    "
  >
    <a href="/" style="text-decoration: none">
      <div id="button-to-add-pin">
        <div>
          <img id="pin-icon" src="{% static 'images/pin.png' %}" alt="" />
        </div>
        <div>
          Pin a <br />
          comment
          <br />
          to the map
        </div>
      </div>
    </a>
  </div>
</div>

{% endblock %}
